*{
  padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
  -webkit-app-region: drag;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

label{
  -webkit-app-region: no-drag;
}

a{
  -webkit-app-region: no-drag;
}

.button-wrap {
  position: relative;
}

.button {
    display: inline-block;
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #00BFA6;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.button label{
  cursor: pointer;
}

.wave{
  position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.img img{
	width: 400px;
}

.content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.button{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}

.button:hover{
	background-position: right;
}

#file_button{
  opacity: 0;
  width: 0px
}

@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	.content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.content{
		justify-content: center;
	}
}
